# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# SQLite database (don’t commit this)
db.sqlite3

# Django static/media
/staticfiles/
/media/


# IDE/editor stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.idea/
*.vscode/
