{% extends 'base.html' %}
{% load static %}

{% block title%}Heliography | Services {% endblock %}

{% block content%}


<div class="container-fluid  ">
    <h2 class="mb-2 text-danger text-center mb-4 pt-3">

      {% if selected_category %}
        {{selected_category.name}}  Services
      {% else%}
       Our Services
     {% endif %}

    </h2>
    <div class="row">
        {% for event in events %}
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow-sm mt-3">
              <a href="{% url 'event_list' %}">
                <img src="{{event.image.url}}" class="card-img-top " alt="{{ event.name }}" style="border: 1px solid red; height:300px; object-fit: cover;">
              </a>
            </div>
        </div>
         {%endfor %}
    </div>
</div>
{% endblock %}